<h3 >Detect Labels</h3>


<app-upload (selectedImages)="uploadedImage($event)" [uploadTo]="uploadTo" (onUploadFinished)="getLabels($event)" (markedImg)="getMarkedImg($event)"></app-upload>
<div class="row">
  
  <br />
  <br />
  <mat-chip-list>
    <mat-chip *ngFor="let label of labels"> {{displayLabel(label)}}
        <mat-icon matChipRemove >cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  
</div>
<br />
<img [src]="markedImg" *ngIf="markedImg">
<br />

<hr />


<pre>{{labels | json}}</pre>